.carousel {
  width: 50%;

  .carousel__slide {
    object-fit: fill;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
}
