.carousel {
  width: 50%;

  @media screen and (max-width: 900px) {
    width: 70%;
  }

  .carousel__slide {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #64ffda;
}

.swiper-pagination-bullet {
  background: #64ffda;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  background: #64ffda;
  opacity: 1;
}
